*{
  font-family: 'Poppins', sans serif;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #e0f2fe ;
}

.container{
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;

}

span{
  color: black;
  font-size: small;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;
}

header{
  color: black;
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 10px 0 10px 0;

}

.input-field{
  display: flex;
  flex-direction: column;
}

.input{
  height: 45px;
  width: 87%;
  border: none;
  outline: none;
  color: black;
  padding: 0 0 0 42px;
}

i{
  position: relative;
  top: -31px;
  left: 17px;
  color: white;
}

::-webkit-input-placeholder{
  color: black;
}
.submit{
  border: none;
  font-size: 15px;
  height: 45px;
  outline: none;
  width: 100%;
  background: white;
  cursor: pointer;
  transition: .3s;

}

.submit:hover{
  box-shadow: 1px 5px 7px 1px rgba(0,0,0,0.2);
}

.bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: small;
  color: black;
  margin-top: 10px;

}

.left{
  display: flex;

}
label a{
  color: black;
  text-decoration: none;
}

.icon{
  position: relative;
  top: -33px;
  left: 17px;
  width: 16px;
  height: 16px;
}



.nav {
  width: 100%;
  height: 70px;
  background-color:  #0F172A;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}









